body {
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.name {
  color: #4f5de4;
  font-family: FiraGO;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.info-info {
  color: #6a7a9b;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.container {
  width: 300px;
}
.div3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 26px 28px;
  gap: 40px;
}

#slider-container {
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}

#image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-between;
  flex-direction: column;
  margin: 26px 28px;
  gap: 50px;
}

.slider-circle {
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  margin-bottom: 50px;
}
.slider-circles {
  display: flex;
  justify-content: center;
}
.active {
  background-color: #f57005;
  border: 3px solid #d9d9d9;
  margin-top: -3px;
}
.slider-div {
  padding: 50px;
  border-radius: 16px;
  border: 1px solid #e0e3fd;
  background: #fff;
  width: 80%;
}
.slider-div img {
  display: flex;
  margin: auto;
}
.video-text {
  color: #4f5de4;
  font-family: FiraGO;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}
.lern {
  color: #1a3365;
  font-family: FiraGO;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 60px;
}

.lecture {
  background: #f1f2fd;
}

.circle {
  display: flex;
  justify-content: center;
}
#lecture-container {
  margin: 26px 28px;
}
.fieldset-2 {
  border: none;
  width: 350px;
  padding: 40px 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #fff;
}
.legent-2 {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150" fill="none"><circle cx="75" cy="75" r="75" fill="%23DCDCDD"/></svg>')
    no-repeat;
  text-align: right;
  background-size: 155px 151px;
  height: 160px;
  padding-right: 11px;
  padding-top: 8px;
}
legend img {
  margin: auto;
  display: flex;
  margin-left: 10px;
}
.time-div {
  padding: 4px 8px;
  width: 30%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #4f5de4;
  margin-top: -25%;
  color: white;
  margin-bottom: 20px;
}

.fieldset-2 h4 {
  color: #1a3365;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 70%;
}

.info-div {
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 8px;
  background: #f1f2fd;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.info-name {
  color: #1a3365;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.some-text {
  color: #98a3b9;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.number-of-lecture {
  color: #f57005;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lecture-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.create-account {
  background: #4f5de4;
  display: flex;
  flex-direction: column;
  padding: 10% 20%;
  margin-bottom: 100px;
}

.create-account h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.account-text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.account-button p {
  color: #fbfbfc;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  line-height: normal;
}
.account-button {
  background-color: #f57005;
  width: 200px;
  padding-left: 10px;
  border-radius: 4px;
  margin-top: 10%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.account-button img {
  width: 24px;
  height: 24px;
  margin: auto;
}
@media screen and (min-width: 780px) {
  .div3 {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 56px 88px;
  }
  #image-container {
    flex-direction: row;
    margin: 56px 88px;
    gap: 30px;
  }
  #lecture-container {
    margin: 56px 88px;
  }
  .lecture-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .create-account {
    background: #4f5de4;
    display: flex;
    flex-direction: row;
    padding: 7% 13%;
    justify-content: space-between;
  }

  .div1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .account-button {
    width: 250px;
  }
}

/* mariami */
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 28px;
  font-weight: 600;
  color: #1a3365;
}

.span {
  font-size: 16px;
  color: #6a7a9b;
  text-align: center;
}

@media (max-width: 799px) {
  .info {
    flex-wrap: wrap;
  }
}

/****RESPONSIVE INFO****/

@media (max-width: 480px) {
  .info {
    flex-direction: column;
    gap: 50px;
  }

  .header {
    font-size: 22px;
  }

  .span {
    font-size: 16px;
  }
}

/*****FEEDBACK**************/

.feedback {
  margin-top: 100px;
  background-image: url(./images/feedbackbg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 100px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subheader {
  font-size: 20px;
  color: #4f5de4;
  font-weight: 600;
  text-align: center;
}

.subheader-2 {
  font-size: 36px;
  color: #1a3365;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 30px 0;
}

.fieldset {
  width: 70%;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #e0e3fd;
  padding: 30px 60px;
}

.legend {
  margin-left: 30px;
}
.student {
  color: #1a3365;
  font-size: 18px;
  font-weight: 600;
}

.additional-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 10px;
}

.slider-btn img {
  width: 90%;
}

.feedback-text {
  font-size: 16px;
}

/***********RESPONSIVE*********/
@media (max-width: 1200px) {
  .fieldset {
    width: 90%;
    padding: 30px;
  }
}

@media (max-width: 899px) {
  .feedback {
    padding: 70px 30px;
  }
  .subheader-2 {
    font-size: 28px;
  }
  .fieldset {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .additional-info {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .feedback-text {
    font-size: 14px;
  }

  .subheader-2 {
    font-size: 22px;
  }
  .fieldset {
    padding: 15px;
  }
  .feedback {
    padding: 40px 15px;
  }
  .legend img {
    width: 70%;
  }
}

/***********CONTACT**************/
.contact-info {
  margin-top: 100px;
  background-color: #fff;
}

.input-wrapper {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-input {
  border-radius: 4px;
  padding: 20px 50px;
  background-color: #f1f2fd;
  border: none;
  width: 320px;
}

.main-input::placeholder {
  font-size: 16px;
}

.input-icon {
  position: absolute;
  left: 5%;
  top: 30%;
}
.input-icon3 {
  position: absolute;
  left: 2%;
  top: 30%;
}

.input-icon4 {
  position: absolute;
  left: 2%;
  top: 17%;
}

.input-div {
  display: flex;
  gap: 30px;
}

.main-layout {
  margin-top: 100px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.input-title,
.input-message {
  width: 100%;
}

.area-placeholder::placeholder {
  padding-top: 10px;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #f57005;
  width: 165px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.contact-img {
  width: 100%;
}

/****RESPONSIVE***/
@media (max-width: 1299px) {
  .main-layout {
    flex-direction: column;
  }
}
@media (max-width: 799px) {
  .input-div {
    flex-direction: column;
  }
  .main-input {
    width: 100%;
  }
  .input-icon {
    left: 2%;
  }
}

/**************FOOTER**************/
.footer-wrapper {
  margin-top: 70px;
  background-color: #2a254d;
  padding: 72px 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.gif-logo {
  width: 70px;
  padding-bottom: 30px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #b3ade1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 55px;
}

a {
  cursor: pointer;
}

.footer-flex-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}
/***********RESPONSIVE**********/
@media (max-width: 1299px) {
  .footer-wrapper {
    padding: 72px 80px;
  }
}

@media (max-width: 999px) {
  .footer-wrapper {
    padding: 72px 30px;
  }
}

@media (max-width: 899px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  .footer-text {
    width: 250px;
    text-align: center;
  }
}

@media (max-width: 670px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    justify-items: start;
    padding: 72px 100px;
  }
  .footer-text {
    width: 250px;
    text-align: start;
  }
  .footer-title {
    padding-bottom: 30px;
  }
}
@media (max-width: 499px) {
  .footer-wrapper {
    justify-items: center;
    padding: 72px 60px;
  }
  .footer-text {
    width: 200px;
    text-align: center;
  }
  .gif-logo {
    align-self: center;
  }
}

.slider-btn-div {
  margin-top: 20px;
}

.rights-div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1f1944;
  padding: 72px 80px;
}

.rights {
  font-size: 16px;
}

/* anri */

@keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@keyframes blinker2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.6, 0.6);
  }
  100% {
    transform: scale(1, 1);
  }
}

#sidebar__trigger {
  display: none;
}

@media screen and (min-width: 1441px) {
  .kongo-image-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(133deg, #f57005 15.88%, #ae84c0 86.24%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    margin-top: 40px;
  }
}

.main-section {
  height: 800px;
  width: 100%;
  background: #4f5de4;
  color: #fff;
}

.header-section {
  padding: 0px 72px;
}

.header-section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.menu-container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.bar {
  display: none;
}

.header-section nav .nav-links {
  display: flex;
}

.header-section nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.header-section nav li:not(:first-child) {
  margin-left: 24px;
}

.header-section li:hover {
  color: #ff8a00;
  cursor: pointer;
}

.header-logo img {
  width: 59px;
  height: 47px;
}

.kongo-image-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(133deg, #f57005 15.88%, #ae84c0 86.24%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.kongo-image-container img {
  width: 450px;
  height: 450px;
}

.info-section {
  display: grid;
  height: 70%;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 104px;
  justify-items: center;
  align-items: center;
}

.info-section .title-container {
  width: 499px;
  position: relative;
}

.info-section .title-container button {
  padding: 12px 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.info-section .title-container button:hover {
  cursor: pointer;
}

.info-section .title-container button:first-child {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none !important;
  background-color: #f57005;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.info-section .title-container button:first-child:hover .curve {
  right: 0;
  width: 100%;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

.info-section .title-container button:first-child .curve {
  position: absolute;
  right: -15px;
  top: 0;
  width: 33px;
  height: 100%;
  background: #f6f5f5;
  opacity: 0.2;
  z-index: 0;
  -webkit-transform: skewX(-22deg);
  transform: skewX(-22deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.info-section .title-container button:not(:first-child) {
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: 12px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none !important;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.info-section .title-container button:not(:first-child) .curve {
  position: absolute;
  right: -15px;
  top: 0;
  width: 33px;
  height: 100%;
  background: #f6f5f5;
  opacity: 0.2;
  z-index: 0;
  -webkit-transform: skewX(-22deg);
  transform: skewX(-22deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.info-section .title-container button:not(:first-child):hover .curve {
  right: 0;
  width: 100%;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

.info-section .title-container h1 {
  font-size: 40px;
  font-weight: 600;
}

.title-buttons-container {
  padding-top: 40px;
}

.courses-section {
  padding: 72px;
}

.courses-container {
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.courses-container .course-content {
  padding: 24px 48px 24px 24px;
  border-radius: 16px;
  border: 1px solid #e0e3fd;
  height: 350px;
}

.courses-container .course-content img {
  width: 76px;
  height: 76px;
}
.courses-container .course-content h3 {
  padding: 16px 0;
  font-weight: 500;
}
.courses-container .course-content p {
  font-size: 14px;
  line-height: 150%;
  color: #6a7a9b;
}

.courses-container .course-content .content-link {
  font-weight: 500;
  color: #f57005;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.courses-container .course-content .content-link img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.about-us-section {
  padding: 72px;
}

.about-us-section .about-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  align-items: center;
}
.about-us-section .about-us-container .about-us-info {
  max-width: 634px;
}
.about-us-section .about-us-container .about-us-info h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: #4f5de4;
  padding-bottom: 32px;
}
.about-us-section .about-us-container .about-us-info p {
  color: #6a7a9b;
  font-size: 16px;
  line-height: 150%;
}
.about-us-section .about-us-container .about-us-info p:not(:first-child) {
  margin-top: 20px;
}

.info-section .images-container {
  position: relative;
}

.curled-arrow-img,
.graduation-cap-img,
.earth-img,
.book-img {
  -webkit-animation-name: float-bob-y-2;
  animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  position: absolute;
}

.curled-arrow-img {
  right: 0px;
  top: 135px;
}

.graduation-cap-img {
  top: 40px;
}
.earth-img {
  left: 360px;
}

.book-img {
  bottom: 20px;
  left: 350px;
}

.star-img,
.star-img-2 {
  -webkit-animation: blinker2 3s infinite linear;
  animation: blinker2 3s infinite linear;
  position: absolute;
}

.star-img {
  bottom: -10px;
  left: 160px;
}

.star-img-2 {
  left: 300px;
  top: -30px;
}

@media screen and (max-width: 1248px) {
  .courses-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .graduation-cap-img {
    top: 0;
    left: -20px;
  }

  .star-img {
    left: 100px;
    bottom: 5px;
  }

  .book-img {
    left: 280px;
    bottom: 0px;
  }

  .earth-img {
    left: 320px;
    top: 20px;
  }

  .kongo-image-container {
    width: 350px;
    height: 350px;
  }

  .kongo-image-container img {
    width: 320px;
    height: 320px;
  }

  .courses-container .course-content {
    padding: 24px 48px 24px 24px;
    border-radius: 16px;
    border: 1px solid #e0e3fd;
    height: auto;
  }

  .about-us-section .about-us-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-items: center;
  }
  .about-us-container img {
    width: 80%;
  }
}

@media screen and (max-width: 980px) {
  .main-section {
    height: 1100px;
  }

  .info-section {
    grid-template-columns: 1fr;
    gap: 150px 0;
  }
}

@media screen and (max-width: 1000px) {
  .about-us-section .about-us-container {
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    height: 900px;
    width: 100%;
  }

  #sidebar__trigger {
    display: block;
  }

  .bar {
    display: block;
    background: transparent;
    border: none;
  }

  .info-section .title-container h1 {
    font-size: 30px;
    margin-top: 100px;
  }

  .about-us-container {
    width: 100%;
  }

  .info-section {
    padding: 0 20px;
  }

  .info-section .title-container {
    width: auto;
  }

  .header-section {
    padding: 0px 10px;
  }

  .header-section nav .nav-links {
    display: none;
  }

  .kongo-image-container {
    width: 300px;
    height: 300px;
  }
  .kongo-image-container img {
    width: 250px;
    height: auto;
  }

  .star-img {
    bottom: 10px;
    left: 60px;
  }

  .graduation-cap-img {
    left: -50px;
    top: -10px;
  }

  .star-img-2 {
    left: 240px;
  }

  .earth-img {
    left: 250px;
  }

  .book-img {
    left: 210px;
  }

  .curled-arrow-img {
    width: 40px;
    height: 40px;
    left: 290px;
    top: 200px;
  }

  .info-section .title-container button {
    padding: 12px 25px;
  }

  .info-section .title-container button img {
    display: none;
  }

  .courses-section {
    padding: 0;
  }

  .courses-container {
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 70px;
  }
  .about-us-section {
    padding: 20px;
  }
  .about-us-container img {
    width: 100%;
  }
}

.sidebar {
  background-color: #333;
  color: white;
  width: 300px;
  transition: transform 0.5s;
  position: fixed;
  height: 100vh;
  z-index: 10;
  padding: 0 10px;
  padding-top: 30px;
}

.sidebar-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sidebar-info img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.sidebar li {
  list-style: none;
}

.sidebar-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-link {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.sidebar .close-button {
  background-color: transparent;
  border: none;
}

.sidebar-link button {
  width: 30px;
  height: 30px;
  color: #fff;
  border: none;
  background-color: #4f5de4;
}

.sidebar__trigger,
.sidebar__button {
  background-color: transparent;
  border: none;
}

.sidebar.isClosed {
  transform: translateX(-100%);
}
