* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: "FiraGO", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.name {
  color: #4f5de4;
  font-family: FiraGO;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.profile-icon {
  display: none;
}
.info-info {
  color: #6a7a9b;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 10px;
}

.banner {
  position: absolute;
  right: 0;
  height: 100%;
}
.container {
  width: 300px;
  height: 200px;
}
.div3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  gap: 40px;
}

#slider-container {
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}

#image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-between;
  flex-direction: column;
  margin: 26px 135px;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.slider-circle {
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  margin-bottom: 50px;
}
.slider-circles {
  display: flex;
  justify-content: center;
}
.active {
  background-color: #f57005;
}
.slider-div {
  padding: 50px;
  border-radius: 16px;
  border: 1px solid #e0e3fd;
  background: #fff;
  width: 100%;
}
.slider-div img {
  display: flex;
  margin: auto;
}
.video-text {
  color: #4f5de4;
  font-family: FiraGO;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}
.lern {
  color: #1a3365;
  font-family: FiraGO;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 60px;
}

.lecture {
  background: #f1f2fd;
}

.circle {
  display: flex;
  justify-content: center;
}

.fieldset-2 {
  border: none;
  width: 350px;
  padding: 40px 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #fff;
}
.legent-2 {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150" fill="none"><circle cx="75" cy="75" r="75" fill="%23DCDCDD"/></svg>')
    no-repeat;
  text-align: right;
  background-size: 155px 151px;
  height: 160px;
  padding-right: 11px;
  padding-top: 8px;
}
legend img {
  margin: auto;
  display: flex;
  margin-left: 10px;
}
.time-div {
  padding: 4px 8px;
  width: 30%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #4f5de4;
  margin-top: -25%;
  color: white;
  margin-bottom: 20px;
}

.fieldset-2 h4 {
  color: #1a3365;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 70%;
}

.info-div {
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 8px;
  background: #f1f2fd;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.info-name {
  color: #1a3365;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.some-text {
  color: #98a3b9;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.number-of-lecture {
  color: #f57005;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lecture-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.create-account {
  background: #4f5de4;
  display: flex;
  flex-direction: column;
  padding: 10% 20%;
  margin-bottom: 100px;
  gap: 30px;
}

.create-account h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.account-text {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 31px 29px;
  border-radius: 12px;
  margin-top: 30px;
  background-color: rgba(255, 252, 252, 0.12);
}
.account-text::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 90px 52px;
  border-color: transparent transparent #f57005 transparent;
  border-bottom-right-radius: 12px;
}

.account-button p {
  color: #fbfbfc;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  line-height: normal;
}
.account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #f57005;
  width: 165px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  height: 45px;
  margin: auto 0;
}

.account-button img {
  width: 24px;
  height: 24px;
  margin: auto;
}

#lecture-container {
  background-image: url("images/course-bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 800px) {
  #image-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 780px) {
  .div3 {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 56px 135px;
  }

  #lecture-container {
    padding: 56px 135px;
  }
  .lecture-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .create-account {
    background: #4f5de4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 130px 135px;
    justify-content: space-between;
    background-image: url("images/account-bg-1.jpg");
  }

  .div1 {
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
  }
}

@keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.counter-dot {
  position: absolute;
  right: -200px;
  bottom: -42px;
  -webkit-animation: rotated 20s infinite linear;
  animation: rotated 20s infinite linear;
  position: absolute;
}

/* mariami */
.info {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 125px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 28px;
  font-weight: 600;
  color: #1a3365;
}

.span {
  font-size: 16px;
  color: #6a7a9b;
  text-align: center;
}

@media (max-width: 799px) {
  .info {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .counter-dot {
    position: relative;
  }
}

/****RESPONSIVE INFO****/

@media (max-width: 480px) {
  .info {
    flex-direction: column;
    gap: 50px;
  }

  .header {
    font-size: 22px;
  }

  .span {
    font-size: 16px;
  }
}

/*****FEEDBACK**************/

.feedback {
  margin-top: 100px;
  background-image: url(./images/feedbackbg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 100px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subheader {
  font-size: 20px;
  color: #4f5de4;
  font-weight: 600;
  padding-top: 30px;
  text-align: center;
}

.subheader-2 {
  font-size: 36px;
  color: #1a3365;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 10px 0;
}

.fieldset {
  width: 70%;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #e0e3fd;
  padding: 30px 60px;
}

.legend {
  margin-left: 30px;
}
.student {
  color: #1a3365;
  font-size: 18px;
  font-weight: 600;
}

.additional-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 10px;
}

.slider-btn img {
  width: 90%;
}

.feedback-text {
  font-size: 16px;
}

/***********RESPONSIVE*********/
@media (max-width: 1200px) {
  .fieldset {
    width: 90%;
    padding: 30px;
  }

  .fieldset-2 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 899px) {
  .feedback {
    padding: 70px 30px;
  }

  .subheader-2 {
    font-size: 28px;
  }
  .fieldset {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .additional-info {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .feedback-text {
    font-size: 14px;
  }

  .subheader-2 {
    font-size: 22px;
  }
  .fieldset {
    padding: 15px;
  }
  .feedback {
    padding: 40px 15px;
  }
  .legend img {
    width: 70%;
  }
}

/***********CONTACT**************/
.contact-info {
  margin-top: 100px;
  background-color: #fff;
}

.input-wrapper {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-input {
  border-radius: 4px;
  padding: 20px 50px;
  background-color: #f1f2fd;
  border: none;
  width: 320px;
}

textarea {
  resize: none;
}

.main-input::placeholder {
  font-size: 16px;
}

.input-icon {
  position: absolute;
  left: 5%;
  top: 30%;
}
.input-icon3 {
  position: absolute;
  left: 2%;
  top: 30%;
}

.input-icon4 {
  position: absolute;
  left: 2%;
  top: 10%;
}

.input-div {
  display: flex;
  gap: 30px;
}

.main-layout {
  padding: 0 135px;
  padding-bottom: 70px;
  margin-top: 100px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.input-title,
.input-message {
  width: 100%;
}

.area-placeholder::placeholder {
  padding-top: 10px;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #f57005;
  width: 165px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.contact-image-container {
  width: 543px;
}

.contact-img {
  width: 100%;
}

/****RESPONSIVE***/
@media (max-width: 1299px) {
  .main-layout {
    flex-direction: column;
  }
}

@media (max-width: 799px) {
  .input-div {
    flex-direction: column;
  }
  .main-input {
    width: 100%;
  }
  .input-icon {
    left: 2%;
  }
  .contact-image-container {
    width: 90%;
  }
  .contact-info {
    padding: 0 10px;
  }
}

/**************FOOTER**************/
.footer-wrapper {
  background-color: #2a254d;
  padding: 72px 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.gif-logo {
  width: 70px;
  padding-bottom: 30px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #b3ade1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 55px;
}

a {
  cursor: pointer;
}

.footer-flex-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}
/***********RESPONSIVE**********/
@media (max-width: 1299px) {
  .footer-wrapper {
    padding: 72px 135px;
  }
  #image-container {
    justify-content: left;
  }
}

@media (max-width: 999px) {
  .footer-wrapper {
    /* padding: 72px 30px; */
    justify-items: start;
  }
}

@media (max-width: 899px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .footer-text {
    width: 250px;
    /* text-align: center; */
    text-align: start;
  }
}
@media (min-width: 1300px) {
  .slider-div {
    width: 200px;
  }
}
@media (min-width: 1640px) {
  .slider-div {
    width: 300px;
  }
}

@media (max-width: 670px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    justify-items: start;
    /* padding: 72px 100px; */
  }

  .footer-text {
    width: 250px;
    text-align: start;
  }
  .footer-title {
    padding-bottom: 30px;
  }
}
@media (max-width: 499px) {
  .footer-wrapper {
    justify-items: start;
    /* padding: 72px 60px; */
  }
  .footer-text {
    width: 200px;
    /* text-align: center; */
  }
  .gif-logo {
    align-self: flex-start;
  }
}

.slider-btn-div {
  margin-top: 20px;
}

.rights-div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1f1944;
  padding: 27px 80px;
}

.rights {
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* anri */

@keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@keyframes blinker2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.6, 0.6);
  }
  100% {
    transform: scale(1, 1);
  }
}

#sidebar__trigger {
  display: none;
}

@media screen and (min-width: 1441px) {
  .kongo-image-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(133deg, #f57005 15.88%, #ae84c0 86.24%);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 40px;
    z-index: 10;
  }

  .banner {
    height: auto;
  }
}

.main-section {
  height: 800px;
  width: 100%;
  background: #4f5de4;
  color: #fff;
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.header-section nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

a {
  text-decoration: none;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-left: 135px;
  padding-right: 135px;
  height: 100%;
  position: relative;
  background-color: var(--eduact-base);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
  overflow: hidden;
  z-index: 2;
}

.menu-container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.bar {
  display: none;
}

.header-section nav .nav-links {
  display: flex;
}

.header-section nav a {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.header-section nav a:not(:first-child) {
  margin-left: 55px;
}

.header-section li:hover {
  color: #ff8a00;
  cursor: pointer;
}

.header-logo img {
  width: 59px;
  height: 47px;
}
.kongo-image-container {
  border-radius: 50%;
  background: linear-gradient(133deg, #f57005 15.88%, #ae84c0 86.24%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.earth-img {
  left: 480px;
}

.book-img {
  bottom: 20px;
  left: 500px;
}

.hero-banner__bg-shape1 {
  position: absolute;
  left: 20px;
  top: 100px;
  width: 759px;
  height: 759px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 54px 24px 39px 0px rgba(var(--eduact-black2-rgb), 0.02);
}

.courses-section {
  padding: 72px 135px;
  position: relative;
  background-image: url("images/service-bg-1.png");
  background-position: center;
  z-index: 1;
}

.about-us-section {
  padding: 72px 135px;
}

.lecture-card {
  width: 500px;
  background-color: #fff;
  min-height: 300px;
  position: relative;
  padding: 28px 30px 30px;
  box-shadow: 11px 15px 30px 0px rgba(128, 137, 225, 0.1);
  border: 1px solid transparent;
  border-radius: 14px;
}

@media screen and (max-width: 1245px) {
  .header-section nav {
    padding: 0 52px;
  }

  #image-container {
    padding: 26px 52px;
    margin: 0;
  }

  .info-section {
    padding-left: 52px;
    padding-right: 52px;
  }

  .courses-section {
    padding: 72px 52px;
  }

  .feedback {
    padding: 70px 52px;
  }

  .about-us-section {
    padding: 72px 52px;
  }

  .div3 {
    padding: 56px 52px;
  }

  .create-account {
    padding: 100px 52px;
  }

  .info {
    justify-content: space-between;
    padding: 0 52px;
  }

  .footer-wrapper {
    padding: 72px 52px;
  }
}

@media screen and (min-width: 1700px) {
  .kongo-image-container {
    width: 620px;
    height: 620px;
  }

  .kongo-image-container img {
    width: 550px;
    height: 550px;
  }
}

@media screen and (min-width: 1875px) {
  .header-section nav {
    padding: 0 260px;
  }

  .feedback {
    padding: 0 260px;
  }

  .footer-wrapper {
    padding: 72px 260px;
  }

  .main-layout {
    padding: 0 260px;
    margin-bottom: 70px;
  }

  .create-account {
    padding: 7% 260px;
  }

  #lecture-container {
    padding: 56px 260px;
  }

  .lecture-card {
    width: 100%;
  }

  .div3 {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 56px 260px;
  }

  #image-container {
    flex-direction: row;
    margin: 56px 260px;
    justify-content: space-around;
  }

  .info-section {
    padding-left: 260px;
    padding-right: 260px;
  }

  .hero-banner__bg-shape1 {
    left: 150px;
  }

  .kongo-image-container {
    width: 540px;
    height: 540px;
  }

  .kongo-image-container img {
    width: 500px;
    height: 500px;
  }

  .courses-section {
    padding: 72px 260px;
  }

  .about-us-section {
    padding: 72px 260px;
  }
}

@media screen and (min-width: 2000px) {
  .kongo-image-container {
    width: 600px;
    height: 600px;
  }

  .kongo-image-container img {
    width: 560px;
    height: 560px;
  }
}

@media screen and (max-width: 1599px) {
  .earth-img {
    left: 360px;
  }

  .book-img {
    bottom: 20px;
    left: 350px;
  }

  .kongo-image-container {
    width: 500px;
    height: 500px;
  }
  .kongo-image-container img {
    width: 450px;
    height: 450px;
  }
}

.info-section .title-container {
  width: 499px;
  position: relative;
}

.info-section .title-container a {
  padding: 12px 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.info-section .title-container a:hover {
  cursor: pointer;
}

.info-section .title-container a:first-child {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none !important;
  background-color: #f57005;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.info-section .title-container a:first-child:hover .curve,
.authorization-button:hover .curve {
  right: 0;
  width: 100%;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

.info-section .title-container a:first-child .curve,
.authorization-button .curve {
  position: absolute;
  right: -15px;
  top: 0;
  width: 33px;
  height: 100%;
  background: #f6f5f5;
  opacity: 0.2;
  z-index: 0;
  -webkit-transform: skewX(-22deg);
  transform: skewX(-22deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.info-section .title-container a:not(:first-child),
.header-button,
.contact-button {
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: 12px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none !important;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.info-section .title-container a:not(:first-child) .curve,
.authorization-button .curve,
.contact-button .curve {
  position: absolute;
  right: -15px;
  top: 0;
  width: 33px;
  height: 100%;
  background: #f6f5f5;
  opacity: 0.2;
  z-index: 0;
  -webkit-transform: skewX(-22deg);
  transform: skewX(-22deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.authorization-button,
.contact-button {
  padding: 12px 30px;
  background-color: #f57005;
}

.header-button:hover,
.contact-button:hover {
  cursor: pointer;
}

.info-section .title-container a:not(:first-child):hover .curve,
.contact-button:hover .curve {
  right: 0;
  width: 100%;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

.contact-button {
  margin-left: 0;
}

.info-section .title-container h1 {
  font-size: 50px;
  font-weight: 600;
  width: 650px;
}

.title-buttons-container {
  padding-top: 40px;
}

.services-line {
  position: absolute;
  top: -140px;
  z-index: 1;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  z-index: 100;
}

.courses-container .course-content {
  padding: 24px 48px 24px 24px;
  border-radius: 16px;
  border: 1px solid #e0e3fd;
  max-height: 350px;
  z-index: 100;
  background-color: #fff;
  position: relative;
}

.courses-container .course-content h3 {
  padding: 16px 0;
  font-weight: 500;
}
.courses-container .course-content p {
  font-size: 14px;
  line-height: 150%;
  color: #6a7a9b;
}

.courses-container .course-content .content-link {
  font-weight: 500;
  color: #f57005;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.courses-container .course-content .content-link img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.about-us-section .about-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
}

.about-us-section .about-us-container .about-us-info {
  max-width: 634px;
  justify-self: end;
}

.about-us-section .about-us-container .about-us-info h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: #4f5de4;
  padding-bottom: 32px;
}
.about-us-section .about-us-container .about-us-info p {
  color: #6a7a9b;
  font-size: 16px;
  line-height: 150%;
}
.about-us-section .about-us-container .about-us-info p:not(:first-child) {
  margin-top: 20px;
}

.info-section .images-container {
  position: relative;
}

.curled-arrow-img,
.graduation-cap-img,
.earth-img,
.book-img,
.division-img,
.blue-pencil,
.red-pencil,
.pencil-eraser-img {
  -webkit-animation-name: float-bob-y-2;
  animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  position: absolute;
}

.curled-arrow-img {
  right: 0px;
  top: 135px;
}

.blue-pencil {
  left: -280px;
  top: 200px;
}

.division-img {
  bottom: 40px;
  left: -30px;
}

.graduation-cap-img {
  top: 40px;
}

.star-img-3 {
  position: absolute;
  left: -400px;
}
.star-img-4 {
  position: absolute;
  bottom: 100px;
  left: -100px;
}

.pencil-eraser-img {
  left: -400px;
  bottom: 0px;
  rotate: -45deg;
}

.star-img,
.star-img-2,
.star-img-3,
.star-img-4 {
  -webkit-animation: blinker2 3s infinite linear;
  animation: blinker2 3s infinite linear;
  position: absolute;
}

.star-img {
  bottom: -10px;
  left: 160px;
}

.star-img-2 {
  left: 300px;
  top: -30px;
}

@media screen and (max-width: 1248px) {
  .courses-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-section nav a {
    font-size: 14px;
  }

  .graduation-cap-img {
    top: 0;
    left: -20px;
  }

  .star-img {
    left: 100px;
    bottom: 5px;
  }

  .book-img {
    left: 280px;
    bottom: 0px;
  }

  .earth-img {
    left: 320px;
    top: 20px;
  }

  .kongo-image-container {
    width: 430px;
    height: 430px;
  }

  .kongo-image-container img {
    width: 387px;
    height: 387px;
  }

  .courses-container .course-content {
    padding: 24px 48px 24px 24px;
    border-radius: 16px;
    border: 1px solid #e0e3fd;
    height: auto;
  }

  .about-us-section .about-us-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .about-us-container img {
    width: 80%;
  }

  .div3 {
    gap: 0;
  }

  .header-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 980px) {
  .main-section {
    height: 1100px;
  }

  .info-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 150px 0;
  }

  .info-section .images-container {
    justify-self: center;
    margin-top: -200px;
  }

  .info-section {
    padding-top: 100px;
  }

  .info-section .title-container h1 {
    width: fit-content;
  }
  .info-section .title-container a:first-child {
    font-size: 12px;
  }
  .info-section .title-container a:not(:first-child) {
    font-size: 12px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .about-us-section .about-us-container {
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
  }

  .menu-container {
    padding-right: 0;
  }

  .header-button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .header-section nav a {
    font-size: 12px;
  }

  .info-section .title-container h1 {
    font-size: 30px;
  }
}

.mobile-account-button-2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-section {
    height: 900px;
    width: 100%;
  }

  .header-section {
    position: absolute;
  }

  .lectures {
    row-gap: 0;
  }

  .main-layout {
    padding: 0;
  }

  .create-account {
    padding: 30% 10px;
  }

  .mobile-account-button-2 {
    display: block;
    margin-left: 0;
    padding: 20px 30px;
    margin-top: -80px;
  }

  .create-account h2 {
    font-size: 25px;
  }

  .account-button-2 {
    display: none;
  }

  .account-text {
    font-size: 14px;
  }

  .div3 {
    padding: 0px 20px;
  }

  .footer-wrapper {
    padding: 72px 10px;
  }

  .desktop-nav-buttons {
    display: none;
  }

  .profile-icon {
    display: block;
  }

  #sidebar__trigger {
    display: block;
  }

  .bar {
    display: block;
    background: transparent;
    border: none;
  }

  .info-section .title-container h1 {
    font-size: 30px;
    margin-top: 100px;
  }

  .about-us-container {
    width: 100%;
  }

  .info-section {
    padding: 0 20px;
    justify-items: center;
  }

  .info-section .title-container {
    width: auto;
  }

  .header-section {
    padding: 0px 10px;
  }

  .header-section nav {
    padding: 30px 0;
    height: 7vh;
  }

  .header-section nav .nav-links {
    display: none;
  }

  .kongo-image-container {
    width: 300px;
    height: 300px;
  }
  .kongo-image-container img {
    width: 250px;
    height: auto;
  }

  .star-img {
    bottom: 10px;
    left: 60px;
  }

  .division-img {
    bottom: 0;
    left: -50px;
  }
  .graduation-cap-img {
    left: -50px;
    top: -10px;
  }

  .star-img-2 {
    left: 240px;
  }

  .earth-img {
    left: 250px;
  }

  .book-img {
    left: 210px;
  }

  .curled-arrow-img {
    width: 40px;
    height: 40px;
    left: 290px;
    top: 200px;
  }

  .info-section .title-container button {
    padding: 12px 25px;
  }

  .info-section .title-container button img {
    display: none;
  }

  .courses-section {
    padding: 0;
  }

  .courses-container {
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 70px;
  }
  .about-us-section {
    padding: 20px;
  }
  .about-us-container img {
    width: 100%;
  }

  .menu-container {
    padding-right: 0;
  }
}

.sidebar {
  background-color: #000;
  color: white;
  width: 300px;
  transition: transform 0.5s;
  position: fixed;
  height: 100vh;
  padding: 0 10px;
  padding-top: 30px;
  z-index: 20;
}

.sidebar-info-container {
  margin-top: 30px;
}

.sidebar-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sidebar-info img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.sidebar li {
  list-style: none;
}

.sidebar-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #1a1a1a;
}

.sidebar .close-button {
  background-color: transparent;
  border: none;
}

.sidebar-link button {
  width: 30px;
  height: 30px;
  color: #fff;
  border: none;
  background-color: #4f5de4;
}

.sidebar__trigger,
.sidebar__button {
  background-color: transparent;
  border: none;
}

.sidebar.isClosed {
  transform: translateX(-100%);
}

@media screen and (max-width: 1440px) {
  .info-section .title-container h1 {
    width: fit-content;
  }
}

@keyframes circle {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes blinker {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.03, 1.03);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes blinker2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.6, 0.6);
  }
  100% {
    transform: scale(1, 1);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.hero-banner {
  position: relative;
  background-color: var(--eduact-base);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
  padding: 166px 0 92px;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 1199px) {
  .hero-banner__bg-shape1 {
    width: 640px;
    height: 640px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-banner__bg-shape1 {
    width: 759px;
    height: 759px;
  }
}

.hero-banner__bg-shape1::after {
  position: absolute;
  left: -140px;
  top: -140px;
  content: "";
  width: calc(100% + 280px);
  height: calc(100% + 280px);
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 54px 24px 39px 0px rgba(0, 0, 0, 0.02);
  animation-fill-mode: both;
  animation: blinker 1.5s ease-in-out infinite;
  -webkit-animation: blinker 1.5s ease-in-out infinite;
  -moz-animation: blinker 1.5s ease-in-out infinite;
}

.hero-banner__bg-round {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  animation: circle 15s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

.hero-banner__bg-round-border {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  position: absolute;
  right: 250px;
  top: 0;
}

.hero-banner__content {
  position: relative;
  z-index: 4;
  padding: 90px 0 0;
}

@media (max-width: 1199px) {
  .hero-banner__bg-shape1 {
    width: 640px;
    height: 640px;
  }
}

@media screen and (max-width: 1600px) {
  .blue-pencil {
    display: none;
  }
}

@media screen and (max-width: 771px) {
  .curled-arrow-img {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 800px) {
  .header-section nav a {
    font-size: 10px;
  }
}

.books-pencils {
  position: absolute;
  bottom: 0;
  left: -100px;
}

/* custom cursor */

.custom-cursor__cursor {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #4f5de4;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999991;
}

.custom-cursor__cursor-two {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #4f5de4;
  opacity: 0.3;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width 0.3s, height 0.3s, opacity 0.3s;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 999991;
}

.custom-cursor__hover {
  background-color: #4f5de4;
  opacity: 0.4;
}

.custom-cursor__innerhover {
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.footer-bg {
  background-image: url("images/footer-bg-1.png");
  background-size: cover;
  background-position: center;
}

.footer-title::after {
  position: absolute;
  left: 0;
  bottom: 1px;
  content: "";
  width: 85px;
  height: 1px;
  background-color: var(--eduact-secondary);
}

.footer-title::before {
  position: absolute;
  left: -10px;
  bottom: -1px;
  content: "";
  width: 52px;
  height: 4px;
  background-color: var(--eduact-base);
  z-index: 2;
  -webkit-animation: movebounce2 2s linear infinite;
  animation: movebounce2 2s linear infinite;
}

.course-content-svg {
  bottom: 0;
  width: 118px;
  right: 0;
  position: absolute;
}

.course-content:hover .course-content-svg path {
  fill: #4f5de4;
  transition: 0.5s;
}

.course-content:hover .course-content-logo {
  background-color: #4f5de4;
  transition: 0.5s;
}

.course-content-logo {
  background: #f57005;
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.course-education-img {
  width: 30px;
  height: 30px;
}

.lectures {
  margin-top: 150px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 150px;
  column-gap: 20px;
}

@media screen and (max-width: 1675px) {
  .lectures {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .lecture-card {
    width: 100%;
  }

  .course-details {
    margin-top: 40px;
  }
}

@media screen and (max-width: 969px) {
  .lectures {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
  }

  .subheader-2 {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1340px) {
  .lecture-card {
    width: 100%;
  }

  .course-details {
    margin-top: 30px;
  }

  .time-div {
    margin-top: -15%;
    width: fit-content;
  }
}

.lecture-card:hover {
  border: 1px solid #4f5de4;
  transition: 500ms ease;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

.lecturer-pic {
  position: absolute;
  top: -120px;
  right: 10px;
  background-color: #e7e7e9;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lecturer-pic img {
  width: 226px;
  height: 228px;
}

.lecture-div {
  margin-top: 150px;
}

.course-title h4 {
  font-size: 20px;
  line-height: 29px;
  max-width: 300px;
}

.course-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: ; */
  padding: 14px 19px 15px 19px;
  border-radius: 6px;
  background-color: #f1f2fd;
}

.course-details-author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.course-details-author-name {
  font-size: 16px;
  font-weight: 700;
  color: #2a254d;
}

.course-details-subject-name {
  color: #697585;
}

.course-details-price {
  color: #4f5de4;
  font-size: 20px;
  font-weight: 700;
  text-align: end;
}

.course-details-length {
  font-size: 14px;
  font-weight: 500;
  text-align: end;
  width: 100px;
  color: #f57005;
}

@media screen and (max-width: 900px) {
  .lecture-card {
    width: 100%;
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 769px) {
  .lectures {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
  }

  #lecture-container {
    padding: 0 10px;
  }

  .course-details-author-name,
  .course-details-subject-name {
    font-size: 14px;
  }

  .course-details-price {
    font-size: 18px;
  }

  .course-details-price-container {
    width: 60px;
  }

  .feedback {
    padding: 0 10px;
  }

  .course-details-length {
    font-size: 12px;
  }
}

.testimonial-text-container {
  max-width: 700px;
  min-height: 300px;
}

.testimonial-text-container p {
  font-size: 20px;
  line-height: 37px;
}

.testimonial-text {
  height: 120px;
}

.testimonial-author {
  font-weight: 700;
}

.testimonial-author-position {
  letter-spacing: 0.48px;
  font-size: 12px;
  color: #697585;
}

.feedback-container {
  position: relative;
  display: block;
  border-radius: 40px;
  border: 1px solid #e0e3fd;
  box-shadow: 11px 15px 30px 0px rgba(128, 137, 225, 0.1);
  padding: 0 50px 48px 60px;
}

.feedback-subgroup {
  position: relative;
}

.feedback-image-container {
  position: absolute;
  right: -100px;
  top: -100px;
  width: 612px;
  height: 563px;
  background-image: url("images/splash.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-pencil {
  position: absolute;
  right: 0;
  max-width: 100%;
  -webkit-animation-name: float-bob-y-2;
  animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.testimonial-details-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-slider-buttons {
  display: flex;
  position: absolute;
  bottom: 90px;
  right: 50%;
}

.testimonial-slider-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: #f1f2fd;
}

.testimonial-slider-btn:hover {
  background-color: #4f5de4;
  transition: 500ms ease;
  cursor: pointer;
}

.testimonial-slider-btn:hover svg path {
  fill: #fff;
}

.testimonial-prev-arrow {
  transform: rotate(180deg);
}

.testimonial-slider-btn:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 1458px) {
  .feedback-image-container {
    width: 512px;
    height: 463px;
    top: -50px;
  }

  .testimonial-text-container {
    max-width: 550px;
  }
  .testimonial-text-container p {
    font-size: 18px;
  }

  .student {
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .testimonial-text-container {
    max-width: 100%;
  }

  .testimonial-slider-buttons {
    top: 215px;
    right: 25%;
  }

  .feedback-image-container {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    margin: auto;
  }
}

@media screen and (max-width: 1080px) {
  .feedback-image-container {
    margin-top: 40px;
  }

  .about-us-section .about-us-container .about-us-info {
    justify-self: self-start;
  }

  .subheader-2 {
    margin-bottom: 100px;
  }
}

@media (min-width: 545px) and (max-width: 770px) {
  .testimonial-pencil {
    right: 50px;
  }
}

@media screen and (max-width: 769px) {
  .feedback-container {
    padding: 0 10px;
    margin-top: 100px;
  }

  .testimonial-details-container {
    margin-top: 0;
  }

  .testimonial-text {
    height: 240px;
  }

  .testimonial-slider-buttons {
    top: 37%;
    right: 30px;
  }

  .feedback-image-container {
    background-repeat: no-repeat;
    background: none;
    background-position: center;
    display: flex;
    margin: 0;
    width: 100%;
  }

  .testimonial-pencil {
    width: 150px;
  }
}

@media screen and (max-width: 540px) {
  .student {
    width: 100%;
  }
}

@media screen and (min-width: 2200px) {
  .testimonial-text-container {
    max-width: 50%;
  }

  .feedback-image-container {
    width: 700px;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    top: -320px;
    right: 50px;
  }
}

.scroll-top {
  --ghost-accent-color: #4f5de4;
  position: fixed;
  z-index: 50;
  padding: 0;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  border: none;
  /* box-shadow: inset 0 0 0 2px #ccc; */
  color: #ccc;
  background-color: transparent;
}

.scroll-top.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-top .icon-tabler-arrow-up {
  position: absolute;
  stroke-width: 2px;
  stroke: #4f5de4;
}

.scroll-top svg path {
  fill: none;
}

.scroll-top svg.progress-circle path {
  stroke: #4f5de4;
  stroke-width: 4;
  transition: all 0.4s ease;
}

.scroll-top:hover {
  color: #4f5de4;
}

.scroll-top:hover .progress-circle path,
.scroll-top:hover .icon-tabler-arrow-up {
  stroke: #4f5de4;
}

.content {
  max-width: 640px;
  margin: 0 auto;
}

.testimonial-slider {
  display: flex; /* Ensures items are placed in a row */
  transition: transform 0.5s ease; /* Add a transition for smooth animation */
}

/* Add this class to the parent container of your testimonial items */
.testimonial-slider.transition {
  transition: transform 0.5s ease;
}
